*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#757575;
    --title-text-color:#000000;
    --accent-color:#2196F3;
    --occasional-color:#FFFFFF;
    --base-color:#212121;
    --header-footer-color:#2F303A;
    --background-color:#F5F4FA;
    --project--color:#F5F5F5;
}
body {
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
}
.list{
    list-style-type: none;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.nav-cont{
    display: flex;
    text-align: center;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--occasional-color);
}
.logo{
    display: inline-block;
font-family: 'Raleway';
color: var(--accent-color);
text-decoration:none;
font-size: 26px;
line-height: 1.2;
margin-right: 93px;
margin-top: 24px;
}

.logo-studio{
    color:var(--title-text-color);
}

.menu{
display: flex;
gap: 50px;

}
.menu .link{
    display: inline-block;
color: var(--base-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
padding-bottom: 32px;
padding-top: 32px;
}

.menu .link:hover,
.menu .link:focus{
    color:var(--accent-color);
}
.contact{
    display: flex;
    margin: auto;
    gap:50px;
}
.evelope{
    display: inline-block;
    width:16px;
    height:12px;
    fill: #757575;
    margin-right: 10px;
}
.evelope:hover,
.evelope:focus{
    fill: #2196F3;
  
}
.vector{
    display: inline-block;
    width:10px;
    height:16px;
    fill: #757575;
    margin-right: 10px;
}
.vector:hover,
.vector:focus{
    fill: #2196F3;   
}
.contact .items{
    display: inline-block;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
line-height: 1.14;
padding-top: 32px;
padding-bottom: 32px;
}
.contact .items:hover,
.contact .items:focus{
    color: var(--accent-color);
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.work{
    padding-top: 0;
}

.hero{
    background-color:var(--header-footer-color);
    background-image: linear-gradient(
        to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}
.hero .title-hero{
    display:block;
    color:var(--occasional-color);
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-transform: uppercase;
letter-spacing: 0.03em;
}
.hero .btn{
    display: inline-block;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--occasional-color);
    border-color: transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    width: 216px;
    min-height: 50px;
line-height: 1.87;
margin-top: 30px;
letter-spacing: 0.03em;
} 

.box-work{
    background-color: var(--occasional-color) ;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    
}
.thumb{
    min-height: 120px;
    background-color:var(--background-color);
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;
}
.img-icon{
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
}
.special{
    display: flex;
    width: 270px;
}
.trait{
    margin-right: 30px;
    text-align: left;
}

.special .title{
    display: inline-block;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
color:var(--base-color);
width: 270px;
margin-bottom: 10px;
}

.special .lead{
font-size: 14px;
line-height: 1.7;
color:var(--primary-text-color);
}
.work .caption{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
color:var(--base-color);
margin-bottom: 50px;
}
.work .list{
    display: flex;
    gap: 30px;
    }
.work .images{
    display:block;
    max-height: 295px;
}
.worker{
    background-color:var(--background-color);
}
.worker .subject{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
color:var(--base-color);
margin-bottom: 50px;
text-align: center;
}
.workers{
    display: flex;
gap: 30px;
}

.employee{
    text-align: center;
    padding-top: 30px;
 
}
.worker .name{
    font-weight: 500;
font-size: 16px;
line-height: 1.2;
color:var(--base-color);
margin-bottom: 10px;
}
.worker .items{
background-color: var(--occasional-color);
}
.worker .post{
font-size: 16px;
line-height: 1.2;
color:var(--primary-text-color);
}
.social-media{
    display:flex;
    gap: 10px;
    margin-top: 16px;
    padding-bottom: 30px;
    justify-content: center;
}
.social-icon{
    display: flex;
}
.social{
    height: 44px;
    width: 44px;
    fill:#AFB1B8;
    
}
.social:hover,
.social:focus{
    background-color: #2196F3;
    fill:#FFFFFF;
    border-radius: 50%;
}
.media{
    display: inline-block;
    margin:12px 12px;
    padding: 0;
    border: none;
}
.clients{
    background-color: var(--project--color);
}
.denotation{
    font-weight: 700;
font-size: 36px;
line-height: 1.2;
color:var(--base-color);
text-align: center;
}
.company{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 94px;
}

.gang{
    width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
}
.gang:hover,
.gang:focus{
    border: 1px solid #2196F3;
}
.row{
    display: flex;
  flex-wrap: wrap;
}
.column {
    max-width: 100%;}
.logo-icon{
    width: 106px;
height: 60px;
fill: #AFB1B8;
margin: 16px 32px;
padding: 0;
border: none;
}
.logo-icon:hover,
.logo-icon:focus{
    fill:#2196F3;
}
.logotype{
    display: inline-block;
    font-family: 'Raleway';
    color: var(--accent-color);
    text-decoration:none;
    font-size: 26px;
    line-height: 1.2; 
}
.logotype .studio{
    display: inline-block;
    color: var(--occasional-color);
}
.footer{
    background-color: var(--header-footer-color);
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
}
.portfilio-header{
    border: 1px solid #ECECEC;
}
.adress .location{
    display: inline-block;
    text-decoration:none;
    font-style: normal;
font-size: 14px;
line-height: 24px;
color:var(--occasional-color);
margin-top: 20px;
}
.adress .cont{
    display: inline-block;
    text-decoration:none;
    font-style: normal;
font-size: 14px;
line-height: 1.7;
color: rgba(255, 255, 255, 0.6);
margin-top: 9px;
}

.adress .cont:hover,
.adress .cont:focus{
    color:var(--accent-color);
}
.footer-title{
    font-family:inherit;
font-weight: 700;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--occasional-color);
padding-top: 12px;
margin-bottom: 20px;
margin-left: 70px;
}
.aside{
   display:flex;
   justify-content: center;
    background-color: var(--occasional-color);
    text-align: center;
    padding-top: 94px;
    margin-bottom: 50px;
}
.footer-media{
    display: flex;
    gap: 10px;
}
.footer-icon:nth-child(1){
    margin-left: 70px;
}
.footer-icon{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #AFB1B8;

}
.footer-icon:hover,
.footer-icon:focus{
    background-color: #2196F3;
}
.apps{
    fill:#FFFFFF;
    margin:12px 12px;
    padding: 0;
    border: none;
}
.aside .button{
    display: inline-block;
    cursor: pointer;
    font-family: inherit;
    background-color:var(--background-color);
    color:var(--base-color) ;
    border-color: transparent;
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
line-height: 1.6;
padding: 6px 23px;
margin-right: 8px;
}

.aside .button:hover,
.aside .button:focus{
    background-color:var(--accent-color);
    color:var(--occasional-color);
}
.project{
    display:flex;
    flex-wrap: wrap;
    background-color: var(--occasional-color);
    text-align: left;
}
.kub{
    width: 370px;
    margin-right: 30px;
   margin-bottom: 30px;
    background-color: var(--occasional-color);
   
}
.kub:nth-child(3n){
    margin-right: 0;
}
.kub:nth-last-child(-n + 3){
    margin-bottom: 94px;
}
.piece{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}
.picture{
    display: block;
    max-height: 294px;
}
.kub .subtitle{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--base-color);
}
.kub .desc{
    font-size: 16px;
    line-height: 1.87;
    color:var(--primary-text-color);
    margin-top: 4px;
}